body {
    background: url(background_sun_time_project.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

h1 {
    color: orange;
    font-style: italic;
    padding: 15px;
    text-align: center;
}

div {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.container{
    width: 80vw;
    height: 30vh;
    margin: auto;
    
    background-color: bisque;
    border-radius: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    

    display: grid;
    grid-template-columns: 150px 1fr 100px;
    grid-template-rows: 1fr 1fr;

    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.map {
    grid-column-start: 1;
    grid-column-end: 1;

    grid-row-start: 1;
    grid-row-end: span 2;

    margin: auto;
    font-size: 23px;
}

.sunrise {
    grid-column-start: 2;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 1;

    background-color: orange;
    padding: 5px;
    height: 60px;
    width: 300px;
    align-content: center;
    border: 2px solid black;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 5px;
    display: flex;

    margin: auto;
    font-size: 21px;
    
}

.sunset {
    grid-column-start: 2;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 2;

    background-color: orange;
    height: 60px;
    width: 300px;
    padding: 5px;
    border: 2px solid black;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 5px;
    display: flex;

    margin: auto;
    font-size: 21px;
}

.rise {
    grid-column-start: 3;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 1;

    margin: auto;
    font-size: 15px;
}

.set {
    grid-column-start: 3;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 2;

    margin: auto;
    font-size: 15px;
}

button {
    color: green;
    font-weight: bold;
    background-color: blue;
}